.card{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .card-header{
    background-color: transparent;
    border: none;
   text-transform: uppercase;
   color: #7E7466;
   font-size: 18px;
  }
}
